body, html {
  height: 100%;
}

.parallax{
    background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headings{
  font-size: 2rem;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  color: #b9b080;
  text-align: center;
}

.heading-subtext{
  font-size: 1.25rem;
  font-family: 'Fira Sans', sans-serif;
  color: #b9b080;
  text-align: center;
}

.navbar {
  background-color: black;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.logo {
  height: 40px;
}

#navbarSupportedContent {
  text-align: center;
}

.gold-text {
  color: #b9b080;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  font-style: italic;
}

.info-text-box{
  text-align: center;
  background-color: white;
  padding: 20px;
  border: 2px solid #b9b080;
  font-family: 'Fira Sans' serif;
}


.btn-custom {
  background-color: hsl(54, 38%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a59c4a", endColorstr="#a59c4a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a59c4a), to(#a59c4a));
  background-image: -moz-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -ms-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a59c4a), color-stop(100%, #a59c4a));
  background-image: -webkit-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -o-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: linear-gradient(#a59c4a, #a59c4a);
  border-color: #a59c4a #a59c4a hsl(54, 38%, 47%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}





