@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Source+Sans+Pro:200i,400,700');

/*font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Fira Sans', sans-serif;*/

/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

body{
    font-family: 'Fira Sans', sans-serif;*/
}

.navbar{
    background-color: black;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

.gold-text{
    color: #b9b080;
    font-family: 
}


#index-main-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
    width: 100vw;
}

.btn-custom {
  background-color: hsl(54, 38%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a59c4a", endColorstr="#a59c4a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a59c4a), to(#a59c4a));
  background-image: -moz-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -ms-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a59c4a), color-stop(100%, #a59c4a));
  background-image: -webkit-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -o-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: linear-gradient(#a59c4a, #a59c4a);
  border-color: #a59c4a #a59c4a hsl(54, 38%, 47%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.index-sub-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100vw;
}

#index-banner{
    background-color: #FCE8EC;
    padding: 50px 50px 50px 50px;
}

#landing-text{
    text-align: center;
}

#footer{
    background-color: white;
    display: inline;
    text-align: center;
    font-size: 30px;
}

.footer-social{
    padding: 10px 0px 0px 0px;
    list-style: none;
    display: inline;
    color: #b9b080;
}

.rory-credit{
    padding: 30px 0px 0px 0px;
    font-size: 10px;
    font-style: italic;
}

.footer-social-tagline{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #b9b080;
}