/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,600i|Fira+Sans');
/*font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Fira Sans', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/







/*Layout*/
html{
  font-size: 16px;
}

body {
  font-family: 'Fira Sans', sans-serif;
}





/*Cross-Page Classes*/  

.headings{
  font-size: 2rem;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  color: #b9b080;
  text-align: center;
}

.heading-subtext{
  font-size: 1.25rem;
  font-family: 'Fira Sans', sans-serif;
  color: #b9b080;
  text-align: center;
}

.navbar {
  background-color: black;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.logo {
  height: 40px;
}

#navbarSupportedContent {
  text-align: center;
}

.gold-text {
  color: #b9b080;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  font-style: italic;
}








#index-images-row {
  background-color: #2d313c;
  padding-bottom: 30px;
}

#gallery-images-row {
  background-color: #2d313c;
  padding-bottom: 30px;
}

#index-banner-subtext {
  /*font-size: 20px;*/
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: #b9b080;
}

.text-banner{
  background-color: #FCE8EC;
  padding: 40px;
}

.index-images {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  border: 2px solid #b9b080;
}

.gallery-images {
  height: 200px;
  display: block;
  margin: auto;
  margin-top: 30px;
  border: 2px solid #b9b080;
}

.fa-phone {
  /*font-size: 20px;*/
  color: #b9b080;
}

.phone-number-index {
  color: #b9b080;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  /*font-size: 30px;*/
  padding: 10px;
}

#landing-text {
  text-align: center;
}


.main-page-image{
  padding-top: 60px;
  width: 99vw;
}

#prices-info-section {
  background-color: #FCE8EC;
}

.text-banner{
  background-color: #FCE8EC;
  padding: 40px;
}


.info-text-box{
  text-align: center;
  background-color: white;
  padding: 20px;
  border: 2px solid #b9b080;
  font-family: 'Fira Sans' serif;
}

#contact-text-box{
  color: #b9b080;
}

#request-quote-form{
  width: 60vw
}


.btn-custom {
  background-color: hsl(54, 38%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a59c4a", endColorstr="#a59c4a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a59c4a), to(#a59c4a));
  background-image: -moz-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -ms-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a59c4a), color-stop(100%, #a59c4a));
  background-image: -webkit-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -o-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: linear-gradient(#a59c4a, #a59c4a);
  border-color: #a59c4a #a59c4a hsl(54, 38%, 47%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

#index-container {
  background-color: #FCE8EC;
}






                                                                      /*Footer*/


footer{
  text-align: center;
  font-size: 1rem;
}

.footer-social {
  font-size: 3rem;
  padding: 15px;
  list-style: none;
  color: #b9b080;
}

.footer-link{
  color: black;
  padding: 5px;
}

.rory-credit {
  /*font-size: 10px;*/
  font-style: italic;
}






.imagescol {
  height: 100px;
}

#bottom-image-index img {
  width: 100%;
  border: 2px solid #b9b080;
}

#bottom-image-row {
  padding: 20px 10px 20px 10px;
  margin-bottom: 10px;
  background-color: #FCE8EC;
}

.gallery-headline {
  text-align: center;
  /*font-size: 40px;*/
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  color: #b9b080;
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery-banner {
  background-color: #FCE8EC;
}

.prices-heading {
  text-align: center;
  /*font-size: 40px;*/
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  color: #b9b080;
  padding-top: 50px;
  padding-bottom: 50px;
}

.prices-sub-text {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

#testimonial-text {
  color: #b9b080;
  font-family: 'Cormorant Garamond', serif;
  /*font-size: 30px;*/
  font-style: italic;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2d313c;
}

#contact-page-bottom-text {
  color: #b9b080;
  font-family: 'Cormorant Garamond', serif;
  /*font-size: 30px;*/
  font-style: italic;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2d313c;
}

.phone-number{
  font-size: 1.25rem;
  text-align: center;
  color: #b9b080;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.phone-number:hover{
  text-decoration: none;
  color: #b9b080;
}

#phone-number-prices{
  font-size: 2rem;
}


.request-quote-form {
  font-family: 'Fira Sans', sans-serif;
}

@media (min-width:576px) {
  #social-heading {
    margin-bottom: 30px;
  }

  .gallery-images {
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #b9b080;
  }
}

@media (min-width:768px) {
  .gallery-images {
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #b9b080;
  }
}

@media (min-width:992px) {

  .gallery-images {
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #b9b080;
  }
}

@media (min-width:1200px) {
  #index-banner-text-headline {
    text-align: center;
    margin-top: 60px;
    /*font-size: 70px;*/
  }

  #index-info-section {
    margin-top: 100px;
    text-align: center;
    background-color: #FCE8EC;
  }

  #prices-info-section {
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: #FCE8EC;
  }

  #index-banner-subtext {
    /*font-size: 30px;*/
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: #b9b080;
  }

  #index-banner {
    height: 250px;
    background-color: #FCE8EC;
  }

  .gallery-images {
    height: 350px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #b9b080;
  }
}


























