#index-main-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
}

.index-sub-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

#index-banner{
    background-color: #FCE8EC;
}

