@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Source+Sans+Pro:200i,400,700');

/*font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Fira Sans', sans-serif;*/

/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

body{
    font-family: 'Fira Sans', sans-serif;
}

.navbar{
    background-color: black;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

.logo{
    height: 40px;
}

.logo-credit{
    font-size: 5px;
    color: grey;
    font-style: italic;

}

#navbarSupportedContent{
    text-align: center;
}

.gold-text{
    color: #b9b080;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-style: italic;
}

#index-banner-text-headline{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    
}

#index-images-row{
    background-color: #2d313c;
    padding-bottom: 30px;
}

#index-banner-subtext{
    font-size: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: #b9b080;
}

#index-banner{
    height:180px;
    background-color: #FCE8EC;
}

.index-images{
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #b9b080;

}

.fa-phone{
    font-size:20px;
    color: #b9b080;
}

.phone-number-index{
    color: #b9b080;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 30px;
    padding: 10px;
}

#landing-text{
    text-align: center;
}

#index-main-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 60px;
    width: 100vw;
}

#index-info-section{
    margin-top: 20px;
    text-align: center;
    padding: 30px 30px 30px 30px;
    background-color: #FCE8EC;
}

#index-info-text{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 2px solid #b9b080;
    font-family: 'Fira Sans' serif;

}

.btn-custom {
  background-color: hsl(54, 38%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a59c4a", endColorstr="#a59c4a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a59c4a), to(#a59c4a));
  background-image: -moz-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -ms-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a59c4a), color-stop(100%, #a59c4a));
  background-image: -webkit-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: -o-linear-gradient(top, #a59c4a, #a59c4a);
  background-image: linear-gradient(#a59c4a, #a59c4a);
  border-color: #a59c4a #a59c4a hsl(54, 38%, 47%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

/*.index-sub-image{*/
/*    position: relative;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    height: 200px;*/
/*    width: 100vw;*/
/*}*/

#index-container{
    background-color: #FCE8EC;
}

#footer{
    text-align: center;
    font-size: 30px;
}

#footer-social{
    padding: 10px 0px 0px 0px;
    list-style: none;
    display: inline;
    color: #b9b080;
}

.rory-credit{
    font-size: 10px;
    font-style: italic;
}

.footer-social-tagline{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #b9b080;
    font-size: 40px;
}

.imagescol{
    height: 100px;
}

#bottom-image-index img{
    width: 100%;
    border: 2px solid #b9b080;
}

#bottom-image-row{
    padding: 20px 10px 20px 10px;
    margin-bottom: 10px;
    background-color: #FCE8EC;;
}

@media (min-width:576px){
    #bottom-footer{
        margin-top: 50px;
        padding-bottom: 20px;
            }    
    #footer{
        margin-top: 30px;
    }
    #social-heading{
        margin-bottom: 30px;
    }
    .index-images{
        height:200px;
    }

}



@media (min-width:768px){
    #footer-social{
        font-size: 50px;
    }
    .index-images{
        height:150px;
    }
}

@media (min-width:1200px){
    #footer-social{
        font-size: 70px;
            }    
    .index-images{
        height:200px;
    }
    #index-banner-text-headline{
        text-align: center;
        margin-top: 60px;
        font-size: 70px;
        
    }
    #index-info-section{
        margin-top: 100px;
        text-align: center;
        padding: 20px 20px 70px 20px;
        background-color: #FCE8EC;
    }
    #index-banner-subtext{
        font-size: 30px;
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        color: #b9b080;
}

    #index-banner{
        height:250px;
        background-color: #FCE8EC;
}
    

    
@media (min-width:1600px){
    #footer-social{
        font-size: 70px;
            }    
    .index-images{
        height:250px;
    }
}




/*Gallery Page*/

.gallery-headline{
    margin-top: 30px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    color: #b9b080
}





































