
#index-main-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
}

.index-sub-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

#index-banner{
    background-color: #FCE8EC;
    padding: 50px 50px 50px 50px;
}

#landing-text{
    text-align: center;
}

#footer{
    background-color: blue;
}